/* CSS files add styling rules to your content */

#principal table{
  background-color: blue;
}

#principal td{
  width: 150px;
  height: 150px;
  border-radius:100%;
}

.player1 {
  background-color: yellow;
}

.player2 {
  background-color: red;
}